@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.slick-dots li {
    transform: scale(2) !important;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #da751b !important;
}

.dropShadowPrimary {
    filter: drop-shadow(14px 3px 19px #da741b69);
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.scroll-up {
    animation: scroll-up 40s linear infinite;
}
